@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?p3izp4");
  src: url("../fonts/icomoon.eot?p3izp4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?p3izp4") format("truetype"), url("../fonts/icomoon.woff?p3izp4") format("woff"), url("../fonts/icomoon.svg?p3izp4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-600italic.woff2") format("woff2");
  /* Add more font formats if available */
  /* Add additional font properties if desired */
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 50px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e903";
}

.icon-instagram1:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\e900";
}

* {
  box-sizing: border-box;
}

html {
  font-family: Poppins;
  font-size: 16px;
}

ul {
  padding: 0;
}

h4 {
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #666;
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
}

.btn-primary, .btn-subscribe {
  color: #fff;
  background-color: #212330;
  border-color: #212330;
  padding: 12px 22px 16px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

footer {
  font-family: Poppins;
  background-color: #323544;
  padding-top: 27px;
}

@media (min-width: 1260px) {
  footer {
    padding: 47px 0 0;
  }
}

footer .container .footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container .footer-row .footer-social {
  width: 100%;
}

footer .container .footer-row .footer-social a {
  text-decoration: none;
  margin-right: 10px;
}

@media (max-width: 480px) {
  footer .container .footer-row .footer-social a {
    width: 35%;
  }
}

footer .container .footer-row .footer-social span {
  font-size: 1.6em;
  text-align: center;
}

@media (min-width: 1260px) {
  footer .container .footer-row .footer-social {
    width: 400px;
  }
}

footer .container .footer-row .footer-social .footer-image {
  width: 250px;
}

@media (min-width: 480px) {
  footer .container .footer-row .footer-social .footer-image {
    width: 320px;
  }
}

footer .container .footer-row .footer-social .footer-image img {
  width: 100%;
}

footer .container .footer-row .footer-social .footer-social-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

footer .footer-nav h4 {
  font-size: 1em;
}

footer .footer-nav ul li {
  list-style: none;
  line-height: 1.375rem;
}

footer .footer-nav ul li a {
  font-weight: 400;
  font-size: 0.8125rem;
  color: #fff;
  text-decoration: none;
}

footer .footer-col {
  padding: 15px 15px;
  margin-bottom: 30px;
}

footer .footer-col h4 {
  margin: 0;
}

@media (max-width: 992px) {
  footer .footer-col {
    width: 50%;
  }
}

footer .footer-social a {
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

footer .footer-social span {
  font-size: 1.6em;
  text-align: center;
}

footer h4 {
  color: #fff;
  text-transform: uppercase;
}

footer .footer-bottom {
  display: flex;
  text-decoration: none;
  color: #fff;
  width: 100%;
  background-color: #212330;
}

footer .footer-bottom ul {
  list-style: none;
}

footer .footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.btn-subscribe {
  outline: none;
  padding: 7px 20px 3px;
  height: 56px;
  font-size: 1.063rem;
  border-radius: 0 3px 3px 0;
  border: none;
  vertical-align: bottom;
  background-color: #999aa2;
  color: #fff;
}

.newsletter-full-width {
  margin-top: auto;
  background-color: #ddd;
}

.twitter:hover {
  background-color: #00aced;
}

.linkedin:hover {
  background-color: #0077b5;
}

.instagram:hover {
  background-color: #d93175;
}

.facebook:hover {
  background-color: #3b5998;
}
