
.twitter:hover{
    background-color: $color-twitter;
  }

.linkedin:hover{
    background-color: $color-linkedin;
  }

.instagram:hover{
    background-color: $color-instagram;
  }

.facebook:hover{
    background-color: $color-facebook;
}