//Title and viewall bar.
.bar{
    padding-top: 50px;
    .headings-container {
        display: flex;
        justify-content: space-between;
    }

    a:not(.btn), strong:not(.btn) {
        font-weight: 600;
        color: #333645;
    }
}

//Article section
.article-list{


    
//Hide third article when on medium size screen.
//Bootstrap col system will widen remaining 2 to 50% each.
    .row>:last-child {
        @media (min-width: 768px) and (max-width: 1259px)
        {
            display: none;
        }
    }
}