.main-navigation {
    background-color: #333645;
    position: relative;
    //The UL is the flex row container of boxes
    .container > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        //Nav Item Hover mixin, icons turned to white.
        li:hover{
            @include class-colors(#fff);
        }

        //Nav boxes are all li elements.
        li{

            flex: 1;
            -webkit-flex: 1;
            text-align: center;
            
            a{
                position: relative;
                display: block;
                color: #fff;
                padding: 19px 0 18px;
                text-transform: uppercase;
                font-size: 1.125rem;
                text-decoration: none;
                line-height: 1;
                small{
                    display: block;
                    font-size: .625rem;
                    padding-bottom: 1px;
                }

            }
            //subsection divs, default to display none.
            div {
                margin: 0;
                display: none;
                background-color: #1d1f28;
                position: absolute;
                top: 100%;
                left: 0;
                min-width: 100%;
                z-index: 10;
                padding-top: 50px;
                padding-bottom: 50px;
            }

            //Display subsections on parent item hover
            &:hover>div {
                display: block;
            }

        }
    }
}