.main-navigation {
    background-color: #333645;
    position: relative;
    //The UL is the flex row container of boxes
    .container>ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        //This is a default red background when items are hovered over. Find a better way to do this.
        .software:hover{
            background-color:$color-bespokesoftware;
            span{
                color:white;
            }
        }
         .it:hover{
            background-color:$color-itsupport;
            span{
                color:white;
            }
         }
         .digital:hover{
            background-color:$color-digitalmarketing;
            span{
                color:white;
            }
         }
         .telecoms:hover{
            background-color:$color-telecomservices;
            span{
                color:white;
            }
         }
         .web:hover{
            background-color:$color-webdesign;
            span{
                color:white;
            }
         }
         .security:hover{
            background-color:$color-cybersecurity;
            span{
                color:white;
            }
         }
          .developer-course:hover{
            background-color:$color-developercourse;
            span{
                color:white;
            }
        }
        //The LI is the contents within the row, containing the small boxes, and subsections when hover.
        li{
            flex: 1;
            -webkit-flex: 1;
            text-align: center;

            a{
                position: relative;
                display: block;
                color: #fff;
                padding: 19px 0 18px;
                text-transform: uppercase;
                font-size: 1.125rem;
                text-decoration: none;
                line-height: 1;

                //Need to review SASS to stop this repetitve css. 
                //Span colours
                .icon-apps{
                    color:$color-bespokesoftware;
                }
                .icon-display{
                    color:$color-itsupport;
                }
                .icon-bar-graph{
                    color:$color-digitalmarketing;
                }
                .icon-phone_in_talk{
                    color:$color-telecomservices;
                }
                .icon-code{
                    color:$color-webdesign;
                }
                .icon-security{
                    color:$color-cybersecurity;
                }
                .icon-school{
                    color:$color-developercourse;
                }
            }
            //subsection divs, default to display none.
            div {
                margin: 0;
                display: none;
                background-color: #1d1f28;
                position: absolute;
                top: 100%;
                left: 0;
                min-width: 100%;
                z-index: 10;
                padding-top: 50px;
                padding-bottom: 50px;


            }

        }
    }
}