//BORDER RADIUS 50% FOR ROUNDED ICON BACKGROUNDS FOR CARDS IN CENTER OF PAGE.
//CHAT ICON NOT INCLUDED IN OUR CURRENT ICON PACK, SEEMS TO BE PULLED FROM W3.


////////////////BASE, DEFAULTS, FONTS, VARIABLES//////////////
//Base webpage colours
$color-primary:#333645;
$color-secondary:#323544;
$color-tertiary:#212330;
//Social media colours
$color-facebook:#3b5998;
$color-linkedin:#0077b5;
$color-twitter:#00aced;
$color-instagram:#d93175;
//Services colours
$color-bespokesoftware:#67809f;
$color-itsupport:#4183d7;
$color-digitalmarketing:#2ecc71;
$color-telecomservices:#d64541;
$color-webdesign:#926fb1;
$color-cybersecurity:#f62459;
$color-developercourse:#ce4125;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p3izp4');
  src:  url('../fonts/icomoon.eot?p3izp4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p3izp4') format('truetype'),
    url('../fonts/icomoon.woff?p3izp4') format('woff'),
    url('../fonts/icomoon.svg?p3izp4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
       url('../fonts/poppins-v15-latin-600italic.woff2') format('woff2');
  /* Add more font formats if available */
  /* Add additional font properties if desired */
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style:normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display:inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mouse:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-arrow_forward:before {
  content: "\e908";
}
.icon-security:before {
  content: "\e909";
}
.icon-school:before {
  content: "\e90a";
}
.icon-phone_in_talk:before {
  content: "\e91b";
}
.icon-paperplane:before {
  content: "\e919";
}
.icon-send:before {
  content: "\e919";
}
.icon-flight:before {
  content: "\e919";
}
.icon-email:before {
  content: "\e919";
}
.icon-bar-graph:before {
  content: "\e901";
}
.icon-bar-graph:before {
  content: "\e901";
}
.icon-display:before {
  content: "\e900";
}
.icon-screen:before {
  content: "\e900";
}
.icon-monitor1:before {
  content: "\e900";
}
.icon-computer:before {
  content: "\e900";
}
.icon-desktop1:before {
  content: "\e900";
}
.icon-pc1:before {
  content: "\e900";
}
.icon-apps:before {
  content: "\e91c";
}
.icon-code:before {
  content: "\e914";
}
.icon-star:before {
  content: "\f005";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}

*{
    box-sizing: border-box;
}
html{
  font-family: Poppins;
    font-size: 16px;
}
ul{
  padding:0;
}
h4{
  font-weight: 400;
}

a{
  color: #333645;
  text-decoration: none;
}

img{
  border:0;
}

body {
  //temporary flex instructions to keep footer at the bottom
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //Default body settings
  color:#666;
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  ///////////////////////////////////////////////////////////
}


//Button square behind buttons.
.btn-primary{
    color: #fff;
    background-color: #333645;
    border-color: #333645;
}

.btn-default{
  color: #fff;
  background-color:#999aa2;
}

//This includes most default coloured buttons, changing their focus and active states to a different colour. 
//is :active and .active a result of bootstrap functionality? Check at some point
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #22242e;
  border-color: #191a22;
}

//Form control base settings
.form-control {
  height: 47px;
  padding: 5px 15px;
  border-color: #ccc;
}
    