//NavHeader colour themes
@mixin NavHoverColor($theme){
    background-color: $theme;
}


/*
         .telecoms:hover{
            background-color:$color-telecomservices;
            span{
                color:white;
            }
         }
*/