@mixin class-colors($color-type: primary, $font-color: null) {
    $colors: map-get($color-themes, $color-type);
  
    @each $class, $color in $colors {
    &.#{$class} {
            background-color: $color;
            color: $font-color;
        }
    }
}

@mixin class-colors-font{
    $colors: map-get($color-themes, primary);
        @each $class, $color in $colors {
        &.#{$class} {
            color: $color;
        }
    }
}
