.btn{
    padding: 6px 12px;
}

.btn{
    padding: 5px 15px;
    text-transform: uppercase;
    //height: auto;
    line-height: 35px;
    font-size: 1.063rem;
    //border-radius: 3px;
    //white-space: normal;
}

.btn:focus{
    outline:none!important;
}

.btn-subscribe {
    outline: none;
    color: #fff;
    background-color: #333645;
    border-color: #333645;
}
